<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.languagetranslatornew">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProgressBar"></activity>
        <activity android:name=".YandexAsyncTask" />
        <activity android:name=".RawDataAsyncTask" />
        <activity android:name=".LanguageClass" />
        <activity android:name=".SpanishQuiz" />
        <activity android:name=".GermanQuiz" />
        <activity android:name=".JapaneseQuiz" />
        <activity android:name=".ResultsQuiz" />
        <activity android:name=".RussianQuiz" />
        <activity android:name=".QuestionLibrary" />
        <activity android:name=".Japanese" />
        <activity android:name=".French" />
        <activity android:name=".Spanish" />
        <activity android:name=".German" />
        <activity android:name=".TranslateGame" />
        <activity android:name=".QuizSelection" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>